/*
SideBar, Why use Stickies when you can have a SideBar?
NotePaper v1.5.5
http://notepaper.mayamcdougall.me
http://github.com/mayamcdougall/NotePaper
*/

@keyframes widget {
	0% {
		transform: translateY(25px);
		opacity: 0;
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

main, .comments {
	animation: none;
}


nav, nav.odd,.site_title h1 {
	animation: widget 1s ease 0s 1;
}

nav.doodle{
	animation: widget 1s ease 0s 1;
}
