/*
SideBar, Why use Stickies when you can have a SideBar?
NotePaper v1.5.1
http://development.sjmcdougall.com/pico-themes/NotePaper
http://github.com/smcdougall/NotePaper
*/

body {
	background: #3C4E58 url(body-background.jpg) fixed;
}

.site_title {
	width: auto;
	max-width: 1252px;
}

.site_title h1 {
	z-index: 2;
	width: 240px;
	height: 108px;
	position: absolute;
	font-size: 2.5em;
	text-align: center;
}

.site_title img {
	max-width: 240px;
	max-height: 144px;
	vertical-align: bottom;
}

.widgets {
	color: white;
	background: #333;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	margin-top: -1px;
	margin-left: -1px;
	padding-right: 0;
	padding-left: 0;
	box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.35);
	border-radius: 5px 0 0 5px;
	border: 1px solid black;
}

.widgets a {
	color: white;
}

.widgets a:hover{
	color: #ccc;
}

.widgets nav:first-of-type {
	margin-top: 180px;
}

nav,.menu {
	background: transparent;
	transform: none;
	box-shadow: none;
	font-family: 'Source Code Pro', sans-serif;
	font-size: 1em;
}

nav.odd,.menu.odd {
	transform: none;
}

nav.doodle {
	transform: none;
	width: 250px;
	margin-left: 0px;
	float: none;
}

main, .comments {
	background: #f1f1f1;
}

main {
	width: auto;
	max-width: 1200px;
}

article, .bottom_links {
	margin-left: 276px;
}

article img {
	border-radius: none;
	box-shadow: none;
}

.comments {
	margin-top: 5px;
	position: relative;
	left: 136px;
}

.menu {
	color: white;
	margin-left: 15px;
	background: #333;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
	border: 1px solid black;
}

.menu-header:hover {
	color: #ccc;
}

.date {
	box-shadow: none;
	border-radius: 	0;
	z-index: -1;
	text-shadow: 0px 1px 2px #5272B4;
	background-color: #536489;
}

.date:before {
	width: 0;
	left: auto;
	right: -40px;
	border-color: #536489 transparent #536489 #536489;
	top: 0;
	border-radius: 0;
	/* border-width: 26px 20px; */
	border-width: 26.6px 21px; /* Partial Fix for Browser Zoom */
}

.date:after {
	content: "";
	bottom: 0px;
	border: none;
	width: 156px;
	height: 10px;
	top: auto;
	border-radius: 0;
	box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.35);

}
