/*
NotePaper v1.5.3
http://development.sjmcdougall.com/pico-themes/NotePaper
http://github.com/smcdougall/NotePaper
*/

/* Global */
body {
	background: #222222 url(images/body-background.jpg) fixed;
}

a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	border: none;
}

a:hover{
	color: #333;
}

hr {
	border: 0;
	height: 1px;
	background: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

/* Header & Footer */

.site_title, footer {
	max-width: 902px;
	margin: 0 auto;
	color: white;
}

.site_title h1 {
	margin: 36px 16px;
	font-family: Kalam;
	font-size: 3em;
}

.site_title img {
	border: none;
}

.site_title a {
	color: inherit;
}

.copyright {
	text-align: center;
	font-size: .85em;
}

.credit {
	text-align: center;
	font-size: .45em;
	font-family: sans-serif;
	letter-spacing: .1em;
}
.credit a {
	color: inherit;
}

.credit a:hover {
	color: #ccc;
}

.yaml_error {
	background: #D10505 linear-gradient(#D10505 20%, #A00B0B 80%);
	margin: 0 -8px;
	border-bottom: 1px solid black;
	padding: 1em;
}

.yaml_error:first-of-type {
	margin-top: -8px;
}

.yaml_error:last-of-type {
	margin-bottom: 8px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
}

/* Content Area */

nav h2 {
	text-align: center;
	text-decoration: underline;
	font-size: 1.25em;
}

.widgets {
	float: right;
	padding-left: 26px;
	margin-right: -85px;
}

.mirrorwidgets {
	float: left;
	padding-left: initial;
	margin-right: initial;
	padding-right: 26px;
	margin-left: -85px;
}

nav,.menu {
	width: 250px;
	margin-bottom: 15px;
	clear: both;
	background: Khaki linear-gradient(PaleGoldenrod 20%,Khaki 80%);
	border-radius: 2px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
	transform: rotate(-1deg);
	padding: 2px 10px;
	font-family: Kalam, cursive;
	font-size: 1.25em;
}

nav.odd {
	transform: rotate(1deg);
}

nav.doodle {
	transform: none;
	width: 206px;
	margin-left: -15px;
	background: none;
	border-radius: initial;
	box-shadow: none;
}

.mirrorwidgets .doodle {
	float: right;
}

nav a.current_page {
	/* Doesn't work with font */
	font-weight: bolder;
}

nav.toc ul {
	list-style-type: none;
}

nav.toc ul ul {
	list-style-type: disc;
}

nav.toc ul ul:not(.menu) {
	padding-left: 20px;
}

nav.toc ul ul ul {
	list-style-type: circle;
}

.bottom_links {
	text-align: center;
}

.bottom_links hr {
	width: 30%;
	margin: 2em auto;
}

.clear_widgets {
	clear: both;
}

main, .comments {
	display: block; /* Main Support Fix */
	max-width: 850px;
	margin: 0 auto;
	background: #f1f1f1 url(images/main-background.jpg);
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
	padding: 10px 26px 10px 26px; /* 16px margin on <p> plus 10. Plus 200 on right for sidebar */
	font-family: 'Source Code Pro', sans-serif;
	line-height: 1.575em;
	position: relative;
	z-index: 1;
}

.comments {
	max-width: 750px;
	width: 76%;
	padding: 50px 26px 10px 26px;
	margin-top: -20px;
	min-height: 200px;
	position: relative;
	z-index: 0;
	display: block !important;
}

article header {
	margin: 25px auto 20px auto;
	min-height: 50px;
}
.title {
	font-size: 1.75em;
	text-align: center;
	margin: 0;
	font-family: Forum, sans-serif;
}

.author {
	font-size: .75em;
	text-align: center;
	margin: 0 0 0 4em;
	font-family: Forum, sans-serif;
}

.date {
	position: absolute;
	width: 100px;
	height: 46px;
	background-color: #A00B0B;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
	text-align: right;
	padding: 3px 15px 3px 0;
	z-index: 1;
	margin: 0 15px 5px -50px;
	border-radius: 8px 1px 1px;
	font-family: Forum, Tahoma, Arial, Helvetica, sans-serif;
	line-height: 1.25em;
	text-shadow: 0px 1px 2px #C53D3D;
}

.date:before {
	content: "";
	position: absolute;
	width: 40px;
	height: 0;
	left: -40px;
	top: 30px;
	border-style: solid;
	border-radius: 0 0 10px;
	border-width: 20px 10px;
	border-color: #A00B0B #A00B0B #A00B0B transparent;
}

.date:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: 0;
	top: 100%;
	border-style: solid;
	border-radius: 8px 0 0px;
	border-width: 5px 10px;
	border-color: #6D0404 #6D0404 transparent transparent;
}

.mirrordate {
	text-align: left;
	padding: 3px 0 3px 15px;
	margin: 0 -25px 5px 15px;
	border-radius: 1px 8px 1px 1px;
	right: 0;
}

.mirrordate:before {
	left: auto;
	right: -40px;
	border-radius: 0 0 0 10px;
	border-color: #A00B0B transparent #A00B0B #A00B0B;
}

.mirrordate:after {
	left: auto;
	right: 0;
	border-radius: 0 8px 0 0;
	border-color: #6D0404 transparent transparent #6D0404;
}

article img {
	border-radius: 5px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
	max-width: 70%;
}

article pre {
	line-height: 1.575em;
}

.foldertoc:hover { /* Still causes wrong order when leaving hover.  Possible solution in a z-index transition-delay, but firefox doesn't seem to respect that. Doesn't fix in Stacking Chrome.  Chrome has transition: opacity issues as well (blurry test). */
	z-index: 2;
}

.menu { /* move up when ready */
	color: black;
	/* display: none; */
	position: absolute;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	border-left: 1px solid rgba(0, 0, 0, 0.15);
	margin-top: -.5em;
	margin-left: -100px;
	padding: 20px 40px;
	width: 200px;
	font-size: inherit;
	transform: rotate(2deg);
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 0.15s, opacity 0.15s linear;
}

.menu.odd {
	transform: rotate(-2deg);
}

.mirrorwidgets .menu {
	margin-left: 5px;
}

.menu-header {
	font-weight: bold;
}

.menu-header:hover {
	color: #333;
}

.menu-header:hover>.menu {
	/* display: block; */
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
}

.menu-title {
	list-style-type: none;
}

.menu-title h2 {
	margin-top: 0;
}

.tag_list li{
	list-style-type: none;
}

.tag_cloud li{
	list-style-type: none;
	display: inline-block;
}
