# Linux
*~
*.swp

# Windows
Thumbs.db
desktop.ini

# Mac OS X
.DS_Store
._*

# Ignore Pico Files
/*
/content/*
/themes/*

# Include NotePaper Files
!/content/sample-widgets/*
!/themes/NotePaper/*
!/assets/NotePaper_Themes/
!/README.md
!/LICENSE.md
!/.gitignore
