/*
WritingDesk, a simple palette swap for NotePaper.
NotePaper v1.5.4
http://development.sjmcdougall.com/pico-themes/NotePaper
http://github.com/smcdougall/NotePaper
*/

/* WritingDesk uses NotePaper's default animations.
This file prevents it from 404-ing under the current theme spec,
as Twig lacks the ability to check if a file exists before linking it. */
